.activities > img {
    width: 100%;
}

.activities-div > h1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    font-weight: 200;
    margin-top: -20px;
    margin-bottom: 15px;
}

.activities > h3 {
    /* font-weight: normal; */
    color: #2248a1;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    padding: 7px;
    background-color: #caa14e;
}

.activities > h5 {
    margin: 0 7%;
    line-height: 25px;
    font-weight: normal;
}

.activities > h4 {
    font-weight: normal;
}


.Link {
    text-decoration: none;
    color: #caa14e;
}

.Link > p {
    border: 2px solid #caa14e;
    width: 40vw;
    margin: 15px auto;
    font-weight: 600;
    padding: 5px;
}

h4 > span {
    text-decoration: underline;
}