h1 {
    margin: 0 auto;
    /* padding: 50% 0 50% 0; */
    color: white;
   /* font-family: 'Barlow Semi Condensed', sans-serif; */
   font-weight: 600;
   font-family: 'Amatic SC', serif;
   font-size: 2.6rem;
   letter-spacing: 0.07em;
   line-height: 1.3em;
   color: black;
   margin-top: 55%;
   /* background-color: #2248a1; */
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

body {
background-image: url('https://images.pexels.com/photos/1482927/pexels-photo-1482927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.videos-container {
    display: flex;
    position: absolute;
    top: 75%;
    overflow-x: scroll;
    width: 100%;
    border-bottom: 2px solid #caa14e;
    /* border-bottom: 3px solid #2248a1; */
}

.videos-container > iframe {
    margin: 1% 2%;
}

h2 {
font-family: 'Amatic SC', serif;
color: white;
font-size: 3em;
position: fixed;
right: -8px;
top: 75%;
}

.travel-blog {
font-family: 'Amatic SC', serif;
position: absolute;
top: 475px;
left: 10px;
font-weight: 200;
font-size: 1.7em;
}