

h1 {
    margin: 0 auto;
    /* padding: 50% 0 50% 0; */
    color: white;
   /* font-family: 'Barlow Semi Condensed', sans-serif; */
   font-weight: 600;
   font-family: 'Amatic SC', serif;
   font-size: 2.5rem;
   letter-spacing: 0.06em;
   word-spacing: 0em;
   line-height: 1.3em;
   color: black;
   margin-top: 55%;
   /* background-color: #2248a1; */
    border: 1px solid black;
}

body {
background-image: url('https://images.pexels.com/photos/1482927/pexels-photo-1482927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
  }