.single-review-container {
    background-color: white;
    text-align: left;
    width: 80vw;
    margin: 20px auto;
    padding: 10px;
}

.written-by{
font-style: italic;
}

.reviews-container {
    background-color: #e2d1c1;
    padding-bottom: 30px;
    /* border:1px solid red; */
}

/* .single-review-container > button {
    border:1px solid black;
} */

.avg-rating {
    border: 1px solid #2248a1;
    width: 50%;
    padding: 5px;
    margin: 10px auto;
    font-family: "PT Sans", sans-serif;
    font-size: 1.4em;
}

.avg-rating > span {
    font-weight: bold;
    text-decoration: underline;
}

@media all and (min-width: 1024px) {
    .single-review-container {
        width: 60vw;
        height: 30vh;
    }
    .avg-rating {
        width: 15%;
        box-shadow: 0px 8px 10px white;
        font-size: 1.4em;
        margin-bottom:15px;
    }
}
