img {
  width: 100%;
}

body {
  background-image: url("https://66.media.tumblr.com/tumblr_m5bb6mJrWM1r9w9wgo1_1280.jpg");
/* background-image: url('../src/components/assets/homepage-image.jpg'); */
background-size: cover;
background-repeat: no-repeat;
}