.activities > img {
    width: 100%;
}

.activities-div > h1 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 0;
    font-weight: 200;
    margin-top: -20px;
    margin-bottom: 15px;
}

.activities > h3 {
    /* font-weight: normal; */
    color: #2248a1;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    padding: 7px;
    background-color: #caa14e;
}

.activities > h5 {
    margin: 0 7%;
    line-height: 25px;
    font-weight: normal;
}

.activities > h4 {
    font-weight: normal;
}


.Link {
    text-decoration: none;
    color: #caa14e;
}

.Link > p {
    border: 2px solid #caa14e;
    width: 40vw;
    margin: 15px auto;
    font-weight: 600;
    padding: 5px;
}

h4 > span {
    text-decoration: underline;
}

@media all and (min-width: 1024px) {
.activities-div {
    padding-top: 45px !important;
}
.activities-div {
    /* width: 50% !important; */
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.activities-div > h1 {
    display: flex;
    flex: 1;
    width: 100%;
}

.activities > img {
    height: 40vh !important;
    border: 1px solid black;
}

.activities {
    width: 30% !important;
    justify-content: space-around;
}

h1 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

h1.hide-desktop {
    display: none;
}

.Link {
    width: 50% !important;
    padding: 0;
}
.Link-p {
    width: 50% !important;
    transition: 1s all;
    height:6vh;
    text-align: center;
    margin: 0 auto;
}

.Link-p:hover {
    background-color: #caa14e;
    color: white;
}
div.activities {
    height: 80vh;
    overflow: scroll;
}
.activities {
    margin-bottom: 50px !important;
}

}